@page
@inject CaDeiGreciWebsite.Data.Menu.DbContext dbc
@{
    Layout = "_LayoutFrontEnd";
    ViewData["Title"] = "Menu";
}
<div id="slide-first" class="slide text-white">
    <div class="bgimage" style="background-image:url('/images/10pax.jpeg');"></div>
    <div class="container d-flex text-center">
        <h1 class="display-3 mb-3">Menu</h1>
        <p class="lead">Consulta il nostro menù e scegli cosa ti va di gustare oggi.</p>
    </div>
</div>

<div class="sub-page" id="FullPage-Menu">

    <div class="container mb-5 pb-5">
        @{
            var even = false;

            foreach (var category in dbc.Categories.Where(x => x.Show).OrderBy(x => x.Order).ToArray())
            {
                even = !even;
                <h2 class="display-4 mt-5 @(even ? "" : "text-right")">@category.Name</h2>
                <div class="row">
                    @if (!even)
                    {
                        <div class="d-none d-sm-block col-sm-3 col-md-5 bg-size-cover" style="background:url('@category.ImageUrl');"></div>
                    }
                    <div class="col-12 col-sm-9 col-md-7">
                        <table class="table table-hover small">
                            @{

                                var priceCats = dbc.CategoriesPriceKind.Where(x => x.CategoryId == category.Id).OrderBy(x => x.Order).ToArray();
                                if (priceCats.Length > 1)
                                {
                                    <thead>
                                        <tr>
                                            <th></th>
                                            @foreach (var pricecat in priceCats)
                                            {
                                                <th>@(pricecat.Name)</th>
                                            }
                                        </tr>
                                    </thead>
                                }

                                foreach (var item in dbc.Items.Where(x => x.CategoryId == category.Id).Where(x => x.Show).OrderBy(x => x.Order).ToArray())
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-between">
                                                <span>@item.Name</span>
                                                
                                            </div>
                                            <small class="description d-block text-muted">@item.Description</small>
                                            <span class="qualities" style="font-size:1.1rem;">
                                                @foreach (var quality in dbc.Qualities.OrderBy(q => q.Order).ThenBy(q => q.Id).ToArray())
                                                {
                                                    var isQualityEnabled = dbc.ItemQualities.Where(j => j.ItemId == item.Id).Where(j => j.QualityId == quality.Id).Any();
                                                    if (isQualityEnabled)
                                                    {
                                                        <img class="mr-2" src="/Uploads/Qualities/@(quality.Id).svg?imageupdateDate=@(quality.ImageUpdateDate.ToString("O"))" title="@(quality.Description ?? quality.Name)" style="height:1.3em; width:1.3em;" />
                                                    }
                                                }
                                            </span>
                                            <span class="allergens" style="font-size: 1rem;">
                                                @foreach (var allergen in dbc.Allergens.OrderBy(q => q.Order).ThenBy(q => q.Id).ToArray())
                                                {
                                                    var isAllergenEnabled = dbc.ItemAllergens.Where(j => j.ItemId == item.Id).Where(j => j.AllergenId == allergen.Id).Any();
                                                    if (isAllergenEnabled)
                                                    {
                                                        <img class="mr-2" src="/Uploads/Allergens/@(allergen.Id).svg?imageupdateDate=@(allergen.ImageUpdateDate.ToString("O"))" title="@(allergen.Description ?? allergen.Name)" style="height:1.3em; width:1.3em;" />
                                                    }
                                                }
                                            </span>
                                        </td>
                                        @{
                                            var prices = priceCats.Select(pc => dbc.Prices.Where(x => x.MenuItemId == item.Id).Where(x => x.MenuPriceKindId == pc.Id).Single()).ToArray();
                                            var grouped = prices
                                                .Select(x => (ColSpan: (Byte)1, Value: x.Value))
                                                .Aggregate(
                                                    new List<(Byte Colspan, Single Value)>(),
                                                    (x, y) =>
                                                    {
                                                        if (!x.Any()) { x.Add(y); }
                                                        else
                                                        {
                                                            var previousGroup = x.Last();
                                                            x.RemoveAt(x.Count - 1);
                                                            if (previousGroup.Value == y.Value)
                                                            {
                                                                previousGroup.Colspan++;
                                                                x.Add(previousGroup);
                                                            }
                                                            else
                                                            {
                                                                x.Add(previousGroup);
                                                                x.Add(y);
                                                            }
                                                        }
                                                        return x;
                                                    });
                                        }
                                        @foreach (var priceGroup in grouped)
                                        {
                                            if (priceGroup.Value == 0)
                                            {
                                                <td colspan="@priceGroup.Colspan"><abbr title="Non disponibile">ND</abbr></td>
                                            }
                                            else
                                            {
                                                <td colspan="@priceGroup.Colspan" class="text-nowrap align-middle">@priceGroup.Value.ToString("F") €</td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                    @if (even)
                    {
                        <div class="d-none d-sm-block col-sm-3 col-md-5 bg-size-cover" style="background:url('@category.ImageUrl');"></div>
                    }
                </div>
            }
        }
    </div>
</div>